# Compiler files
cache/
out/

# Commonly ignored directories
.logs/
.ignore/

# Ignore all Foundry broadcast artifacts
/broadcast/

# Docs
docs/

# Dotenv file
.env
.env.*
!.env.example

# Claude
.claude/
